# Ignoring large data files
data/taxa_compositions/kraken_biomedb_relative_*.csv

# Ignoring treat data folder
data/treated/

# Ignoring data summaries folder
data/summaries/

# Ignoring RData and statistics folders
#data/RData/
#data/statistics/

# Ignoring log files
*_log.txt
*.log

# Misc
libicu66_66.1-2ubuntu2_amd64.deb